<h1>Dear Reader, this is my page full of awesome projects</h1>
<h4>Today there is connect 4, tomorrow the world!</h4>
<div id="container">
    {{>projList
        welcome=true
    }}
</div>
<h4>Mahatma Gandhi - “Be the change that you wish to see in the world.”</h4>