body {
    margin: 150px;
}

#box {
    height: 600px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}

#box div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; /* führt aber dazu dass Bild verzerrt*/
    overflow: hidden; /*das hier ganz wichtig für das bild!!! da sonst immer weiter angezeigt wird*/
}

#box img {
    position: absolute;
    height: 100%;
}

#panel1 {
    z-index: 1;
}

#box #slide {
    background-color: grey;
    height: 100%;
    width: 7px;
    left: 100%;
    transform: translateX(-100%);
    z-index: 2;
}
