* {
    box-sizing: border-box;
}

.slot {
    width: 100px;
    height: 100px;
    background-color: black;
}

.hole {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    left: 10px;
    top: 10px;
}

.player1 .hole {
    background-color: rgb(255, 115, 0);
}

.player2 .hole {
    background-color: rgb(0, 255, 213);
}

/* to center the board inside the container */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    display: flex;
}

.modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}
.modalContent {
    background-color: white;
    margin: 630px auto;
    width: 80%;
    padding: 20px;
    border-radius: 25px;
    border: 5px solid black;
    position: relative;
}

/* to show current player */
.spielerAnzeige {
    height: 50px;
    width: 100px;
    position: absolute;
    border: solid 2px grey;
    top: 630px;
}
