<h1>Huhuuuu, I am the about template</h1>
<ul>
    {{#emojis}}
    <li>{{.}}</li>
    {{/emojis}}
</ul>   

<h2>{{stressImportanceSmth "hello"}}</h2>

<h2>We are passing the btn partial</h2>
{{>button
    text=btnText
}}
