<h1>Hi, I am the home template</h1>
<h2>Hiiiiiiii {{cohort}}</h2>
<ul>
    {{#teachers}}
        <li>{{stressImportance name}}</li>
    {{/teachers}}
</ul>

<h2>We are passing the btn partial</h2>
{{>button
    icon=true
    text=btnText
}}