* {
    box-sizing: border-box;
    margin: 0;
}

#headlines {
    white-space: nowrap;
    position: absolute;
    left: 40px;
}

/* if you have an absolute child the parent need to be relative! that the child sticks to it
+++++++ also the parent needs a hight otherwise it will collape */

#ticker {
    position: relative;
    overflow-x: hidden; /* Otherwise you will see the text going further right */
    height: 1.5em;
    /* Do we need the next two? */
    /* width: 100%;
    border: 3px dotted cornflowerblue; */
}

#headlines a {
    padding-right: 30px; /* to have smth beetween the headlines*/
}

/* #headlines a:nth-child(even) {
    background-color: lightseagreen; /* Do we need this? 
} */
