body {
    margin: 0;
}

header {
    padding: 10px;
    background-color: lightgrey;
    height: 60px;
}

#logo {
    height: 50px;
    float: left;
    position: relative;
    left: 30px;
}

#burger {
    height: 50px;
    float: right;
    position: relative;
    right: 30px;
}
